.App {
	text-align: center;
}

.search {
	width: 30%;
	height: 58px;
	z-index: 10;
	padding: 17px 0;
	box-sizing: border-box;
	font-size: 2rem;
	line-height: 24px;
	font-weight: bold;
	outline: 0;
}

.btn-search{
	position: absolute;
	top: 0;
	right: 0;
	padding: 17px 27px 16px 10px;
	cursor: pointer;
	font-size: 1.4rem;
	line-height: 1.7rem;
	
}

.nav-link {
	text-align: center;
}

.input-group {
	padding: 10px 10px 10px 10px;
}

.nav_menu{
	text-decoration-line: none;
	color: black;
}
